//- blog config
//- theme config
#recommend
  #recommend-banner.recommend-wrapper
    #recommend-banner-wrapper
      .recommend-banner-title-wrapper
        each item in banner_title
          .recommend-banner-title=item
      .recommend-tags-all
        .recommend-tags-wrapper
          //- 循环两遍，避免断层
          each val in [1, 2]
            - const evenNum = banner_skill.filter((x, index) => index % 2 === 0);
            - const oddNum = banner_skill.filter((x, index) => index % 2 === 1);
            each item, index in banner_skill
              if ((index + 1 <= evenNum.length) && (index + 1 <= oddNum.length))
                .recommend-tags-column
                  .recommend-tags-icon(style=`background: ${evenNum[index].background}`)
                    i(class=`${evenNum[index].icon}` style=`color: ${evenNum[index].color}`)
                  .recommend-tags-icon(style=`background: ${oddNum[index].background}`)
                    i(class=`${oddNum[index].icon}` style=`color: ${oddNum[index].color}`)
      a#recommend-banner-hover(onclick='toRandomPost()')
        span.bannerText 随便逛逛
        i.fas.fa-arrow-right.banner-righticon
    #recommend-category
      each item, index in category
        .recommend-categoryItem
            a.recommend-categoryItem-button(href=`${item.path}` style=`background: linear-gradient(to right, ${item.color[0]}, ${item.color[1]})`)
              span.recommend-categoryItem-text=`${item.name}`
              i(class=`${item.icon}`)
  #recommend-post.recommend-wrapper
    #recommend-post-main
    #recommend-post-list